.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .custom-title {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .custom-description {
    color: #777;
    font-size: 16px;
  }
  
  .custom-row {
    margin-top: 20px;
  }
  
  .custom-col {
    margin-bottom: 20px;
  }
  
  .custom-card {
    width: auto;
    height: auto;
  }
  
  .custom-image {
    width: 62%; /* Ensure the image takes the full width of the container */
    height: auto; /* Maintain the aspect ratio */
  }